labs/__pycache__/
pydvma/__pycache__/
*.npy
labs/.ipynb_checkpoints/
build/
dist/
pydvma.egg-info/
.spyproject/
example.log

#find . -name '.DS_Store' -type f -delete
.DS_Store
pydvma_template_with anim.ipynb
